:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange: #b87729ff;
  --gray: #f2f2f2;
  --secondary-white-text-color: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --gray: #1f1f1f;
    --secondary-white-text-color: #b0b0b0;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  cursor: pointer;
}

button.primary {
  background-color: var(--orange);
  color: var(--background);
  border: unset;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.ag-header-cell-label {
  white-space: nowrap;
}

.custom-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: fit-content;
  overflow: visible !important;
  white-space: nowrap;
}
.custom-header-icon {
  margin-left: 4px;
  flex-shrink: 0; /* empêche l'icône d'être réduite */
}